<nav>

<% if (user) { %>

    <p>
        <a href="/MyPage">Home</a>
        <a href="/MyPage/newPost">Create Post</a> 
        <a href="/MyPage/viewAll">View All</a>
      <a href="/auth/sign-out">Sign out</a>
    </p>
  <% } else { %>

    <p>
      <a href="/auth/sign-up">Sign up</a> 
      <a href="/auth/sign-in">Sign in</a>
    </p>
  <% } %>
</nav>