<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlockStreet-Connect</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/scripts/app.js" defer></script>
</head>
<body>
  <div class="landing-container">
    <h1>Welcome to BlockStreet Connect</h1>
    <p>
        Connect with like-minded individuals in the world of Crypto, Tech, and Wall Street. Share ideas, post updates, and engage with a vibrant community.
    </p>
    <%- include('./partials/_navbar.ejs') %>
</div>



</body>
</html>