<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlockStreet-Connect</title>
</head>
<body>
  <h1>Block-Street Connect</h1>
Where you connect with likeminded individuals on Wallstreet or Blockchain related.
<%- include('./partials/_navbar.ejs') %>

</body>
</html>