<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDashboard</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>BlockStreet Connect</h1>
    
        <a href="/MyPage/newPost">Create Post</a>
        <a href="/MyPage/viewAll">View All</a>
    </form>
</body>
</html>