<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create-Post</title>
</head>
<body>
    <h1>Create Post</h1>
    <p>This is a route to create new post</p>
    <form action="/MyPage" method="POST">
        <textarea
          name="content"
          maxlength="300"
          placeholder="What's on your mind? (Max 300 characters)"
          required
        >
        </textarea>
        <button type="submit">Post</button><br />
        <a href="/comments">Leave Comment</a><br />
        <a href="/MyPage/viewAll">View All</a>
    </form>
</body>
</html>


