<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Comment</title>
</head>
<body>
    <h1>Leave a Comment</h1>
    <p>This is a route to create comment for a specific post</p>
    <form action="/MyPage" method="POST">
        <textarea
          name="content"
          maxlength="300"
          placeholder="What's on your mind? (Max 300 characters)"
          required
        >
        </textarea>
        <button type="submit">Post</button><br />
        <a href="/MyPage/viewAll">View All</a>
    </form>
</body>
</html>